/* <![CDATA[ */
ul, ul li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: block;
    width: 190px;
    padding-left: 10px;
    background:#339966;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe #365 #365 #dfe;
}

ul a:link, ul a:visited {
    display: block;
    width: 169px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    background:#006633 ;
    color:#99FFCC;
    border-left: 1px solid #797;
}

ul a:hover {
    background-color:#339966;
    color: #eff;
}
body
{
    background-image: url("250540_ksiazka_czerwona_roza_wazon_gesie_pioro.jpg");
}
/* ]]> */
